In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
%matplotlib inline

In [7]:
xls = pd.ExcelFile('Case_study_data.xlsx')
df_churned=pd.read_excel(xls,sheet_name=1)
df_active=pd.read_excel(xls,sheet_name=0)

In [8]:
df_churned.head()

,SITE_ACCOUNT_NUMBER,ACCOUNT_STATUS,FIRST_COMMUNICATION_DATE,CHURN_DATE,UPGRADE_DATE,SERVICE_PLAN,MODEL,SALES_CHANNEL,DIRECT_INDIRECT_CHANNEL,SALES_SOURCE,...,SITE_TYPE_DESC,WARRANTY_NAME,MOST_RECENT_SALES_CHANNEL,GENDER,DATE_OF_BIRTH,AGE,INCOME,MARITAL_STATUS,PRESENCE_OF_CHILDREN,COMPUTER_OWNER
0,AMR-53205840,Closed,2002-01-18,2006-04-02,2004-01-03,Professional,DW6000,NaN,Indirect,Perfect 10,...,Broadband Remote,NaN,Dealer-Generated Sale,2.0,27-10-1964,48.0,0,.,NaN,N
1,AMR-53383136,Closed,2002-01-02,2006-07-09,2004-07-28,SO,DW6000,Retail/Others,Indirect,ValueElectronics,...,Broadband Remote,NaN,National Sales,NaN,22-10-1965,47.0,5,0,0.0,Y
2,AMR-53608585,Closed,2002-01-06,2008-12-30,2005-04-27,NaN,DW6000,Retail/Others,Indirect,TAG,...,Broadband Remote,NaN,Direct,2.0,20-3-1951,61.0,8,1,0.0,Y
3,AMR-53610590,Closed,2002-01-05,2004-08-19,NaT,SO,DW4000,NaN,Indirect,TAG,...,Broadband Remote,NaN,Direct,1.0,27-3-1948,64.0,0,.,NaN,Y
4,AMR-53612154,Closed,2002-01-05,2006-08-17,2005-11-12,Professional,DW7000,Retail/Others,Indirect,Perfect 10,...,Broadband Remote,NaN,Dealer-Generated Sale,1.0,25-8-1956,56.0,6,0,0.0,N

In [9]:
df_active.head()

,SITE_ACCOUNT_NUMBER,ACCOUNT_STATUS,FIRST_COMMUNICATION_DATE,UPGRADE_DATE,SERVICE_ PLAN,MODEL,SALES_CHANNEL,DIRECT_INDIRECT_CHANNEL,SALES_SOURCE,COMPANY_SOURCE_NAME,...,SITE_TYPE_DESC,WARRANTY_NAME,MOST_RECENT_SALES_CHANNEL,GENDER,DATE_OF_BIRTH,AGE,INCOME,MARITAL_STATUS,PRESENCE_OF_CHILDREN,COMPUTER_OWNER
0,AMR-11112345,Active,2001-11-27,2003-12-14,NaN,HN9000,Vars,Indirect,UNKNOWN,HNS Customers,...,Broadband Remote,0,HN7000 Upgrade,2.0,1-5-1943,69,0,1.0,0.0,N
1,AMR-14837287,Active,2003-05-02,2006-08-08,Pro,HN7000S,Sales Agents,Indirect,NCC,HNS Customers,...,Spaceway,0,Retail,2.0,28-12-1969,43,4,1.0,0.0,N
2,AMR-14837803,Active,2001-01-28,2004-03-17,Power150,HN9000,Call Center,Indirect,NCC,HNS Customers,...,Broadband Remote,0,National Sales,2.0,20-7-1954,58,4,1.0,0.0,N
3,AMR-14837821,Active,2001-11-20,2005-03-27,Power150,DW6000,Sales Agents,Direct,NaN,HNS Customers,...,Spaceway,0,Direct,NaN,10-5-1990,22,6,1.0,1.0,NaN
4,AMR-14839297,Active,2002-02-27,2004-06-14,Home,HN7000S,Call Center,Indirect,TAG,HNS Customers,...,Broadband Remote,0,DW6000 Upgrade,1.0,11-5-1976,36,7,0.0,0.0,NaN

In [10]:
df_active.drop(['FIRST_COMMUNICATION_DATE','DATE_OF_BIRTH','EMAIL_ADDRESS','ADDRESS','FIRST_NAME','LAST_NAME'],axis=1,inplace=True)

In [11]:
df_churned.drop(['FIRST_COMMUNICATION_DATE','DATE_OF_BIRTH','CHURN_DATE','ADDRESS','FIRST_NAME','LAST_NAME'],axis=1,inplace=True)

In [12]:
df_active.drop(['ZIPCODE','STATE'],axis=1,inplace=True)

In [55]:
df_active.drop(['CITY'],axis=1,inplace=True)

In [13]:
df_churned.drop(['ZIPCODE','STATE'],axis=1,inplace=True)

In [56]:
df_churned.drop(['EMAIL_ADDRESS','CITY'],axis=1,inplace=True)

In [47]:
total = df_churned.isnull().sum(axis=0).sort_values(ascending=False)
percent = ((df_churned.isnull().sum(axis=0)/df_churned.isnull().count(axis=0))*100).sort_values(ascending=False)

# count the number of null values in the column and their perecentage of the total data
missing_data_columns = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data_columns

                           Total  Percent
UPGRADE_DATE                 879     8.79
SITE_TYPE_DESC                63     0.63
MOST_RECENT_SALES_CHANNEL     21     0.21
EMAIL_ADDRESS                 20     0.20
ACCOUNT_STATUS                15     0.15
COMPANY_SOURCE_NAME            8     0.08
AGE                            8     0.08
SERVICE_PLAN                   0     0.00
MODEL                          0     0.00
SALES_CHANNEL                  0     0.00
DIRECT_INDIRECT_CHANNEL        0     0.00
SALES_SOURCE                   0     0.00
COMPUTER_OWNER                 0     0.00
CITY                           0     0.00
PRESENCE_OF_CHILDREN           0     0.00
FEEDBACK                       0     0.00
SATELLITE                      0     0.00
WARRANTY_NAME                  0     0.00
GENDER                         0     0.00
INCOME                         0     0.00
MARITAL_STATUS                 0     0.00
SITE_ACCOUNT_NUMBER            0     0.00

In [48]:
total = df_active.isnull().sum(axis=0).sort_values(ascending=False)
percent = ((df_active.isnull().sum(axis=0)/df_active.isnull().count(axis=0))*100).sort_values(ascending=False)

# count the number of null values in the column and their perecentage of the total data
missing_data_columns = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data_columns

                           Total   Percent
DIRECT_INDIRECT_CHANNEL       45  0.450045
SITE_TYPE_DESC                11  0.110011
COMPANY_SOURCE_NAME           11  0.110011
UPGRADE_DATE                  10  0.100010
MOST_RECENT_SALES_CHANNEL      7  0.070007
SITE_ACCOUNT_NUMBER            1  0.010001
ACCOUNT_STATUS                 1  0.010001
AGE                            1  0.010001
CITY                           1  0.010001
SALES_SOURCE                   0  0.000000
SERVICE_ PLAN                  0  0.000000
MODEL                          0  0.000000
SALES_CHANNEL                  0  0.000000
COMPUTER_OWNER                 0  0.000000
PRESENCE_OF_CHILDREN           0  0.000000
SATELLITE                      0  0.000000
WARRANTY_NAME                  0  0.000000
GENDER                         0  0.000000
INCOME                         0  0.000000
MARITAL_STATUS                 0  0.000000
FEEDBACK                       0  0.000000

In [16]:
df_active.head(10)

,SITE_ACCOUNT_NUMBER,ACCOUNT_STATUS,UPGRADE_DATE,SERVICE_ PLAN,MODEL,SALES_CHANNEL,DIRECT_INDIRECT_CHANNEL,SALES_SOURCE,COMPANY_SOURCE_NAME,CITY,...,SATELLITE,SITE_TYPE_DESC,WARRANTY_NAME,MOST_RECENT_SALES_CHANNEL,GENDER,AGE,INCOME,MARITAL_STATUS,PRESENCE_OF_CHILDREN,COMPUTER_OWNER
0,AMR-11112345,Active,2003-12-14,NaN,HN9000,Vars,Indirect,UNKNOWN,HNS Customers,GERMANTOWN,...,SPACEWAY3,Broadband Remote,0,HN7000 Upgrade,2.0,69,0,1.0,0.0,N
1,AMR-14837287,Active,2006-08-08,Pro,HN7000S,Sales Agents,Indirect,NCC,HNS Customers,WEST BERLIN,...,HZN2-VER-4K,Spaceway,0,Retail,2.0,43,4,1.0,0.0,N
2,AMR-14837803,Active,2004-03-17,Power150,HN9000,Call Center,Indirect,NCC,HNS Customers,MERRYVILLE,...,SM5-VER-15K,Broadband Remote,0,National Sales,2.0,58,4,1.0,0.0,N
3,AMR-14837821,Active,2005-03-27,Power150,DW6000,Sales Agents,Direct,NaN,HNS Customers,ZANESVILLE,...,SPACEWAY3,Spaceway,0,Direct,NaN,22,6,1.0,1.0,NaN
4,AMR-14839297,Active,2004-06-14,Home,HN7000S,Call Center,Indirect,TAG,HNS Customers,CALLICOON,...,0,Broadband Remote,0,DW6000 Upgrade,1.0,36,7,0.0,0.0,NaN
5,AMR-14840229,Active,2005-07-13,Pro,HN9000,Sales Agents,Indirect,UNKNOWN,HNS Customers,FRIENDSWOOD,...,SPACEWAY3,Broadband Remote,0,HN9000 Upgrade,2.0,51,7,1.0,0.0,NaN
6,AMR-14841940,Active,2003-06-05,Power150,HN7000S,NaN,Indirect,ValueElectronics,HNS Customers,KEARNEY,...,G17-HOR-2K,Broadband Remote,0,Retail,1.0,56,3,1.0,0.0,NaN
7,AMR-14842501,Active,2004-01-25,Power150,HN7000S,Vars,Indirect,TAG,HNS Customers,POTOMAC,...,SM5-VER-5K,Broadband Remote,0,Retail,1.0,57,7,0.0,NaN,Y
8,AMR-14847927,Active,2006-02-23,Home,DW6000,Vars,Indirect,NaN,HNS Customers,CLARENDON,...,AM6-HOR-21K,Broadband Remote,0,HN9000 Upgrade,2.0,42,4,2.0,0.0,NaN
9,AMR-14859335,Active,2004-09-06,Basic_Ltd,HN7000S,Sales Agents,Indirect,Hughes Web Order,HNS Customers,GERMANTOWN,...,G17-HOR-6K,Broadband Remote,0,HN7000 Upgrade,2.0,34,4,2.0,1.0,N

In [17]:
df_active['COMPUTER_OWNER'] = df_active['COMPUTER_OWNER'].fillna(df_active['COMPUTER_OWNER'].mode()[0])

In [18]:
df_active['SALES_CHANNEL'] = df_active['SALES_CHANNEL'].fillna(df_active['SALES_CHANNEL'].mode()[0])

In [19]:
df_active['FEEDBACK']=df_active['FEEDBACK'].fillna(df_active['FEEDBACK'].mode()[0])

In [20]:
df_active['PRESENCE_OF_CHILDREN']=df_active['PRESENCE_OF_CHILDREN'].fillna(df_active['PRESENCE_OF_CHILDREN'].mode()[0])

In [21]:
df_active['GENDER']=df_active['GENDER'].fillna(df_active['GENDER'].mode()[0])

In [22]:
df_active['SERVICE_ PLAN']=df_active['SERVICE_ PLAN'].fillna(df_active['SERVICE_ PLAN'].mode()[0])

In [23]:
df_active['WARRANTY_NAME']=df_active['WARRANTY_NAME'].fillna(df_active['WARRANTY_NAME'].mode()[0])

In [24]:
df_active['MODEL']=df_active['MODEL'].fillna(df_active['MODEL'].mode()[0])

In [36]:
df_active['SALES_SOURCE']=df_active['SALES_SOURCE'].fillna(df_active['SALES_SOURCE'].mode()[0])

In [39]:
df_active['MARITAL_STATUS']=df_active['MARITAL_STATUS'].fillna(df_active['MARITAL_STATUS'].mode()[0])

In [40]:
df_active['INCOME']=df_active['INCOME'].fillna(df_active['INCOME'].mode()[0])

In [41]:
df_active['SATELLITE']=df_active['SATELLITE'].fillna(df_active['SATELLITE'].mode()[0])

In [72]:
df_active.rename(columns={'SERVICE_ PLAN':'SERVICE_PLAN'},inplace=True)

#remove missing values from churned data as well
#create dummy variables for categorical data.

In [25]:
df_churned['COMPUTER_OWNER']=df_churned['COMPUTER_OWNER'].fillna(df_churned['COMPUTER_OWNER'].mode()[0])

In [26]:
df_churned['SALES_CHANNEL']=df_churned['SALES_CHANNEL'].fillna(df_churned['SALES_CHANNEL'].mode()[0])

In [27]:
df_churned['FEEDBACK']=df_churned['FEEDBACK'].fillna(df_churned['FEEDBACK'].mode()[0])

In [28]:
df_churned['PRESENCE_OF_CHILDREN']=df_churned['PRESENCE_OF_CHILDREN'].fillna(df_churned['PRESENCE_OF_CHILDREN'].mode()[0])

In [29]:
df_churned['GENDER']=df_churned['GENDER'].fillna(df_churned['GENDER'].mode()[0])

In [30]:
df_churned['SERVICE_PLAN']=df_churned['SERVICE_PLAN'].fillna(df_churned['SERVICE_PLAN'].mode()[0])

In [31]:
df_churned['WARRANTY_NAME']=df_churned['WARRANTY_NAME'].fillna(df_churned['WARRANTY_NAME'].mode()[0])

In [32]:
df_churned['MODEL']=df_churned['MODEL'].fillna(df_churned['MODEL'].mode()[0])

In [33]:
df_churned['SALES_SOURCE']=df_churned['SALES_SOURCE'].fillna(df_churned['SALES_SOURCE'].mode()[0])

In [42]:
df_churned['SATELLITE']=df_churned['SATELLITE'].fillna(df_churned['SATELLITE'].mode()[0])

In [46]:
df_churned['SALES_SOURCE']=df_churned['SALES_SOURCE'].fillna(df_churned['SALES_SOURCE'].mode()[0])

In [44]:
df_churned['DIRECT_INDIRECT_CHANNEL']=df_churned['DIRECT_INDIRECT_CHANNEL'].fillna(df_churned['DIRECT_INDIRECT_CHANNEL'].mode()[0])

In [45]:
df_churned['MARITAL_STATUS']=df_churned['MARITAL_STATUS'].fillna(df_churned['MARITAL_STATUS'].mode()[0])

In [38]:
df_active['SALES_SOURCE'].value_counts()

TAG                                        1726
Hughes Web Order                           1372
RS&I                                       1051
Perfect 10                                  859
AmericanSat                                 816
NCC                                         591
ACS                                         438
LiveBridge Communications LLC               435
InfoDish                                    367
UNKNOWN                                     299
ACS Pre-Install                             298
Best Buy                                    291
Verisign Web Ordering                       240
MiniDish                                    121
ValueElectronics                             94
PEGASUS BROADBAND COMMUNICATIO               64
NRTC                                         64
PEGASUS                                      34
D&H DISTRIBUTING                             25
Hughes Internal Sales                        16
OROURKE BROTHERS                             16
Ridgeline USA LLC (RSI573306)                12
Skylink (RSI572499)                          12
Skylink                                      10
Alpha Satellite (RSI568059)                  10
Todays TV                                    10
SKYWALKER COMMUNICATIONS                     10
0                                            10
J & L AND SONS CUSTOM INSTALLATIONS INC       8
Professional Satellites                       7
Name: SALES_SOURCE, dtype: int64

In [2]:
iris = load_iris()

# Create features and target
X = iris.data
y = iris.target

# Convert to categorical data by converting data to integers
X = X.astype(int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [3]:
chi2_selector = SelectKBest(chi2, k=2)
X_kbest = chi2_selector.fit_transform(X, y)

In [4]:
X_kbest

array([[1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [4, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [3, 1],
       [4, 1],
       [3, 1],
       [3, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [3, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [3, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [5, 1],
       [4, 1],
       [3, 1],
       [3, 1],
       [3, 1],
       [3, 1],
       [5, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [3, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [4, 1],
       [3, 1],
       [4, 1],
       [6, 2],
       [5, 1],
       [5, 2],
       [5, 1],
       [5, 2],
       [6, 2],
       [4, 1],
       [6, 1],
       [5, 1],
       [6, 2],
       [5, 2],
       [5, 1],
       [5, 2],
       [5, 2],
       [5, 2],
       [5, 2],
       [5, 1],
       [6, 2],
       [6, 2],
       [5, 1],
       [5, 2],
       [4, 2],
       [6, 2],
       [4, 1],
       [5, 2],
       [6, 1],
       [4, 1],
       [4, 1],
       [5, 2],
       [5, 1],
       [6, 1],
       [6, 2],
       [5, 2],
       [5, 1],
       [5, 1],
       [6, 2],
       [5, 2],
       [5, 1],
       [4, 1],
       [5, 2],
       [5, 2],
       [5, 2],
       [5, 1],
       [5, 2],
       [5, 2],
       [5, 2],
       [5, 1],
       [5, 2],
       [5, 2],
       [5, 1]])

In [73]:
ind_data=df_active.copy()

In [74]:
ind_data.index=ind_data['SITE_ACCOUNT_NUMBER']

In [75]:
ind_data.columns

Index(['SITE_ACCOUNT_NUMBER', 'ACCOUNT_STATUS', 'UPGRADE_DATE', 'SERVICE_PLAN',
       'MODEL', 'SALES_CHANNEL', 'DIRECT_INDIRECT_CHANNEL', 'SALES_SOURCE',
       'COMPANY_SOURCE_NAME', 'FEEDBACK', 'SATELLITE', 'SITE_TYPE_DESC',
       'WARRANTY_NAME', 'MOST_RECENT_SALES_CHANNEL', 'GENDER', 'AGE', 'INCOME',
       'MARITAL_STATUS', 'PRESENCE_OF_CHILDREN', 'COMPUTER_OWNER'],
      dtype='object')

In [62]:
df_churned.index=df_churned['SITE_ACCOUNT_NUMBER']

In [76]:
ind_data=pd.concat([ind_data,df_churned])

In [77]:
total = ind_data.isnull().sum(axis=0).sort_values(ascending=False)
percent = ((ind_data.isnull().sum(axis=0)/ind_data.isnull().count(axis=0))*100).sort_values(ascending=False)

# count the number of null values in the column and their perecentage of the total data
missing_data_columns = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data_columns

                           Total   Percent
UPGRADE_DATE                 889  4.445222
SITE_TYPE_DESC                74  0.370019
DIRECT_INDIRECT_CHANNEL       45  0.225011
MOST_RECENT_SALES_CHANNEL     28  0.140007
COMPANY_SOURCE_NAME           19  0.095005
ACCOUNT_STATUS                16  0.080004
AGE                            9  0.045002
SITE_ACCOUNT_NUMBER            1  0.005000
SALES_SOURCE                   0  0.000000
SERVICE_PLAN                   0  0.000000
MODEL                          0  0.000000
SALES_CHANNEL                  0  0.000000
COMPUTER_OWNER                 0  0.000000
PRESENCE_OF_CHILDREN           0  0.000000
SATELLITE                      0  0.000000
WARRANTY_NAME                  0  0.000000
GENDER                         0  0.000000
INCOME                         0  0.000000
MARITAL_STATUS                 0  0.000000
FEEDBACK                       0  0.000000

In [79]:
dep_data=ind_data['ACCOUNT_STATUS']

In [81]:
curr_val=pd.get_dummies(ind_data['MODEL'],prefix='MODEL')

In [85]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
chi2_selector = SelectKBest(chi2, k=2)
X_kbest = chi2_selector.fit_transform(curr_val,pd.get_dummies(dep_data,prefix='MODEL') )

In [86]:
X_kbest

array([[0, 0],
       [0, 1],
       [0, 0],
       ...,
       [0, 0],
       [0, 0],
       [0, 1]], dtype=uint8)

In [93]:
compute_freq_chi2(ind_data['PRESENCE_OF_CHILDREN'],dep_data)

Frequency table
============================
ACCOUNT_STATUS        Active  Closed  Inactive
PRESENCE_OF_CHILDREN
0.0                     7945    6661        12
1.0                     2040    3324         1
============================
ChiSquare test statistic:  422.7848724237445
p-value:  1.5611025642641377e-92

In [88]:
import scipy.stats as sp
def compute_freq_chi2(x,y):
    """This function will compute frequency table of x an y
    Pandas Series, and use the table to feed for the contigency table
    
    Parameters:
    -------
    x,y : Pandas Series, must be same shape for frequency table
    
    Return:
    -------
    None. But prints out frequency table, chi2 test statistic, and 
    p-value
    """
    freqtab = pd.crosstab(x,y)
    print("Frequency table")
    print("============================")
    print(freqtab)
    print("============================")
    chi2,pval,dof,expected = sp.chi2_contingency(freqtab)
    print("ChiSquare test statistic: ",chi2)
    print("p-value: ",pval)
    return