In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
%matplotlib inline

In [9]:
xls = pd.ExcelFile('Case_study_data.xlsx')
df_churned=pd.read_excel(xls,sheet_name=1)
df_active=pd.read_excel(xls,sheet_name=0)

In [4]:
df_churned.head()

,SITE_ACCOUNT_NUMBER,ACCOUNT_STATUS,FIRST_COMMUNICATION_DATE,CHURN_DATE,UPGRADE_DATE,SERVICE_PLAN,MODEL,SALES_CHANNEL,DIRECT_INDIRECT_CHANNEL,SALES_SOURCE,...,SITE_TYPE_DESC,WARRANTY_NAME,MOST_RECENT_SALES_CHANNEL,GENDER,DATE_OF_BIRTH,AGE,INCOME,MARITAL_STATUS,PRESENCE_OF_CHILDREN,COMPUTER_OWNER
0,AMR-53205840,Closed,2002-01-18,2006-04-02,2004-01-03,Professional,DW6000,NaN,Indirect,Perfect 10,...,Broadband Remote,NaN,Dealer-Generated Sale,2.0,27-10-1964,48.0,0,.,NaN,N
1,AMR-53383136,Closed,2002-01-02,2006-07-09,2004-07-28,SO,DW6000,Retail/Others,Indirect,ValueElectronics,...,Broadband Remote,NaN,National Sales,NaN,22-10-1965,47.0,5,0,0.0,Y
2,AMR-53608585,Closed,2002-01-06,2008-12-30,2005-04-27,NaN,DW6000,Retail/Others,Indirect,TAG,...,Broadband Remote,NaN,Direct,2.0,20-3-1951,61.0,8,1,0.0,Y
3,AMR-53610590,Closed,2002-01-05,2004-08-19,NaT,SO,DW4000,NaN,Indirect,TAG,...,Broadband Remote,NaN,Direct,1.0,27-3-1948,64.0,0,.,NaN,Y
4,AMR-53612154,Closed,2002-01-05,2006-08-17,2005-11-12,Professional,DW7000,Retail/Others,Indirect,Perfect 10,...,Broadband Remote,NaN,Dealer-Generated Sale,1.0,25-8-1956,56.0,6,0,0.0,N

In [7]:
df_active.head()

,SITE_ACCOUNT_NUMBER,ACCOUNT_STATUS,FIRST_COMMUNICATION_DATE,UPGRADE_DATE,SERVICE_ PLAN,MODEL,SALES_CHANNEL,DIRECT_INDIRECT_CHANNEL,SALES_SOURCE,COMPANY_SOURCE_NAME,...,SITE_TYPE_DESC,WARRANTY_NAME,MOST_RECENT_SALES_CHANNEL,GENDER,DATE_OF_BIRTH,AGE,INCOME,MARITAL_STATUS,PRESENCE_OF_CHILDREN,COMPUTER_OWNER
0,AMR-11112345,Active,2001-11-27,2003-12-14,NaN,HN9000,Vars,Indirect,UNKNOWN,HNS Customers,...,Broadband Remote,0,HN7000 Upgrade,2.0,1-5-1943,69,0,1.0,0.0,N
1,AMR-14837287,Active,2003-05-02,2006-08-08,Pro,HN7000S,Sales Agents,Indirect,NCC,HNS Customers,...,Spaceway,0,Retail,2.0,28-12-1969,43,4,1.0,0.0,N
2,AMR-14837803,Active,2001-01-28,2004-03-17,Power150,HN9000,Call Center,Indirect,NCC,HNS Customers,...,Broadband Remote,0,National Sales,2.0,20-7-1954,58,4,1.0,0.0,N
3,AMR-14837821,Active,2001-11-20,2005-03-27,Power150,DW6000,Sales Agents,Direct,NaN,HNS Customers,...,Spaceway,0,Direct,NaN,10-5-1990,22,6,1.0,1.0,NaN
4,AMR-14839297,Active,2002-02-27,2004-06-14,Home,HN7000S,Call Center,Indirect,TAG,HNS Customers,...,Broadband Remote,0,DW6000 Upgrade,1.0,11-5-1976,36,7,0.0,0.0,NaN

In [12]:
df_active.drop(['FIRST_COMMUNICATION_DATE','DATE_OF_BIRTH','EMAIL_ADDRESS','ADDRESS','FIRST_NAME','LAST_NAME'],axis=1,inplace=True)

In [13]:
df_churned.drop(['FIRST_COMMUNICATION_DATE','DATE_OF_BIRTH','CHURN_DATE','ADDRESS','FIRST_NAME','LAST_NAME'],axis=1,inplace=True)

In [14]:
total = df_churned.isnull().sum(axis=0).sort_values(ascending=False)
percent = ((df_churned.isnull().sum(axis=0)/df_churned.isnull().count(axis=0))*100).sort_values(ascending=False)

# count the number of null values in the column and their perecentage of the total data
missing_data_columns = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data_columns

                           Total  Percent
COMPUTER_OWNER              3243    32.43
SALES_CHANNEL               2602    26.02
FEEDBACK                    2028    20.28
SERVICE_PLAN                1482    14.82
PRESENCE_OF_CHILDREN        1252    12.52
GENDER                      1238    12.38
SATELLITE                   1013    10.13
UPGRADE_DATE                 879     8.79
DIRECT_INDIRECT_CHANNEL      784     7.84
MODEL                        710     7.10
WARRANTY_NAME                681     6.81
SALES_SOURCE                 290     2.90
MARITAL_STATUS               281     2.81
SITE_TYPE_DESC                63     0.63
ZIPCODE                       45     0.45
STATE                         45     0.45
MOST_RECENT_SALES_CHANNEL     21     0.21
EMAIL_ADDRESS                 20     0.20
ACCOUNT_STATUS                15     0.15
COMPANY_SOURCE_NAME            8     0.08
AGE                            8     0.08
CITY                           0     0.00
INCOME                         0     0.00
SITE_ACCOUNT_NUMBER            0     0.00

In [15]:
total = df_active.isnull().sum(axis=0).sort_values(ascending=False)
percent = ((df_active.isnull().sum(axis=0)/df_active.isnull().count(axis=0))*100).sort_values(ascending=False)

# count the number of null values in the column and their perecentage of the total data
missing_data_columns = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data_columns

                           Total    Percent
COMPUTER_OWNER              3055  30.553055
SALES_CHANNEL               2906  29.062906
FEEDBACK                    1914  19.141914
PRESENCE_OF_CHILDREN        1315  13.151315
GENDER                      1271  12.711271
SERVICE_ PLAN               1239  12.391239
WARRANTY_NAME                957   9.570957
SALES_SOURCE                 693   6.930693
MODEL                        676   6.760676
SATELLITE                    396   3.960396
MARITAL_STATUS               319   3.190319
INCOME                       318   3.180318
DIRECT_INDIRECT_CHANNEL       45   0.450045
ZIPCODE                       22   0.220022
STATE                         22   0.220022
COMPANY_SOURCE_NAME           11   0.110011
SITE_TYPE_DESC                11   0.110011
UPGRADE_DATE                  10   0.100010
MOST_RECENT_SALES_CHANNEL      7   0.070007
CITY                           1   0.010001
AGE                            1   0.010001
ACCOUNT_STATUS                 1   0.010001
SITE_ACCOUNT_NUMBER            1   0.010001